.radio-player-container {
    width: 360px;
    position: absolute;
    right: 50px;
    bottom: 50px;
    z-index: 1000;
}

div.playlist {
    margin-top: 10px;
    background-color: rgba(255,255,255,0.9);
    height:50px;
    transition:height 1s;
    -moz-transition:height 1s; /* Firefox 4 */
    -webkit-transition:height 1s; /* Safari and Chrome */
    -o-transition:height 1s; /* Opera */
    overflow-y: hidden;
}

div.playlist-header {
    padding-left: 10px;
    padding-right: 10px;
}

div.playlist-body {
    padding-left: 10px;
    padding-right: 10px;
}

.icon {
    float: right;
}

dl {
    margin-top: 14px;
    margin-bottom: 14px; 
}

div.pagination {
    padding-left: 200px;
}

.pagination-label {
    margin-right: 5px
}

a {
    color: black
}